<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <hr>
            <h1>¡¡¡Estoy en AppComponent!!!</h1>

            <hr>
            <h1>App component - Esta es la {{ numeroDeTarea }}</h1>

            <input type="text" [(ngModel)] = "numeroDeTarea">
            <p>{{ numeroDeTarea }}</p>

            <hr>
            <app-server></app-server>

            <hr>
            <app-my-custom-with-cli></app-my-custom-with-cli>

            <hr>
            <app-my-custom></app-my-custom>

            <hr>
            <app-with-template></app-with-template>         

        </div>
    </div>
</div>